@using DataAccess.Entities;
@{
	List<Post> posts = ViewBag.Posts as List<Post>;
	string location = ViewBag.Location;
}

<main>

	<!-- Hero Area Start-->
	<div class="slider-area ">
		<div class="single-slider section-overly slider-height2 d-flex align-items-center" data-background="/assets/img/hero/about.jpg">
			<div class="container">
				<div class="row">
					<div class="col-xl-12">
						<div class="hero-cap text-center">
							<h2>Get your job</h2>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- Hero Area End -->
	<!-- Job List Area Start -->
	<div class="job-listing-area pt-120 pb-120">
		<div class="container">
			<div class="row">
				<!-- Left content -->
				<div class="col-xl-3 col-lg-3 col-md-4">
					<div class="row">
						<div class="col-12">
							<div class="small-section-tittle2 mb-45">
								<div class="ion">
									<svg xmlns="http://www.w3.org/2000/svg"
										 xmlns:xlink="http://www.w3.org/1999/xlink"
										 width="20px" height="12px">
										<path fill-rule="evenodd" fill="rgb(27, 207, 107)"
											  d="M7.778,12.000 L12.222,12.000 L12.222,10.000 L7.778,10.000 L7.778,12.000 ZM-0.000,-0.000 L-0.000,2.000 L20.000,2.000 L20.000,-0.000 L-0.000,-0.000 ZM3.333,7.000 L16.667,7.000 L16.667,5.000 L3.333,5.000 L3.333,7.000 Z" />
									</svg>
								</div>
								<h4>Filter Jobs</h4>
							</div>
						</div>
					</div>
					<!-- Job Category Listing start -->
					<div class="job-category-listing mb-50">
						<div class="single-listing">
							<div class="small-section-tittle2">
								<h4>Job Title</h4>
							</div>
							<!-- Select job items start -->
							<div class="select-job-items2">
								@if (string.IsNullOrEmpty(ViewBag.Title))
								{
									<input id="title" class="form-control" placeholder="Search By Title" />

								}
								else
								{
									<input id="title" class="form-control" placeholder="Search By Title" value="@ViewBag.Title" />
								}
							</div>
							<!--  Select job items End-->
							<!-- select-Categories start -->
							<div class="select-Categories pb-30">
							</div>
							<!-- select-Categories End -->
						</div>
						<!-- single one -->
						<div class="single-listing">
							<div class="small-section-tittle2">
								<h4>Job Category</h4>
							</div>
							<!-- Select job items start -->
							<div class="select-job-items2">
								<select id="cate" name="select">
									<option value="">All Category</option>
									@foreach (var item in ViewBag.Type)
									{
										<option value="@item">@item</option>
									}
								</select>
							</div>
							<!--  Select job items End-->
							<!-- select-Categories start -->
							<div class="select-Categories pt-20 pb-50">
							</div>
							<!-- select-Categories End -->
						</div>
						<!-- single two -->
						<div class="single-listing">
							<div class="small-section-tittle2">
								<h4>Job Location</h4>
							</div>
							<!-- Select job items start -->
							<div class="select-job-items2">
								<select id="location" name="select">
									<option value="" selected>Anywhere</option>
									@foreach (var item in ViewBag.Locations)
									{
										if (!string.IsNullOrEmpty(ViewBag.Location) && location.Equals(item))
										{
											<option value="@item" selected>@item</option>
										}
										else
										{
											<option value="@item">@item</option>
										}
									}
								</select>
							</div>
							<!--  Select job items End-->
							<!-- select-Categories start -->
							<div class="select-Categories pt-20 pb-50">
							</div>
							<!-- select-Categories End -->
						</div>
						<!-- single three -->
						<div class="single-listing">
							<div class="small-section-tittle2">
								<h4>Experience</h4>
							</div>
							<!-- Select job items start -->
							<div class="select-job-items2">
								<select id="exp" name="select">
									<option value="0">All</option>
									<option value="1">1-2 Years</option>
									<option value="2">2-3 Years</option>
									<option value="3">3-6 Years</option>
								</select>
							</div>
							<!--  Select job items End-->
							<!-- select-Categories start -->
							<div class="select-Categories pt-20 pb-50">
							</div>
							<!-- select-Categories End -->
						</div>

						<div class="single-listing">
							<!-- Select job items start -->
							<div class="select-job-items2">
								<div style="display:flex;justify-content:center;">
									<button id="btn_filter" class="btn mt-3">Filter</button>
								</div>
							</div>
							<!--  Select job items End-->
							<!-- select-Categories start -->
							<div class="select-Categories pt-20 pb-50">
							</div>
							<!-- select-Categories End -->
						</div>
					</div>
					<!-- Job Category Listing End -->
				</div>
				<!-- Right content -->
				<div class="col-xl-9 col-lg-9 col-md-8">
					<!-- Featured_job_start -->
					<section class="featured-job-area">
						<div class="container">
							<!-- Count of Job list Start -->
							<div class="row">
								<div class="col-lg-12">
									<div class="count-job mb-35">
										<span id="size">@ViewBag.Count Jobs found</span>
										<!-- Select job items start -->
										<div class="select-job-items">
											<span>Sort by</span>
											<select name="select">
												<option value="">None</option>
												<option value="salary">Salary</option>
												<option value="title">Title</option>
											</select>
										</div>
										<!--  Select job items End-->
									</div>
								</div>
							</div>
							<!-- Count of Job list End -->
							<!-- single-job-content -->
							<div id="post_list">
								@foreach (var p in posts)
								{
									<div class="single-job-items mb-30">
										<div class="job-items">
											<div class="company-img">
												<a href="#"><img src="/assets/img/icon/@p.CompanyKeyNavigation.ImageUrl" alt=""></a>
											</div>
											<div class="job-tittle job-tittle2">
												<a href="/job/post/@p.PostKey">
													<h4>@p.Title</h4>
												</a>
												<ul>
													<li>@p.CompanyKeyNavigation.Name</li>
													<li><i class="fas fa-map-marker-alt"></i>@p.CompanyKeyNavigation.Location</li>
													<li>$@p.SalaryFrom - $@p.SalaryTo</li>
												</ul>
											</div>
										</div>
										<div class="items-link items-link2 f-right">
											<a href="/job/post/@p.PostKey">@p.WorkType</a>
										</div>
									</div>
								}
							</div>
						</div>
					</section>
					<!-- Featured_job_end -->
				</div>
			</div>
		</div>
	</div>
	<!-- Job List Area End -->
	<!--Pagination Start  -->
	@*   <div class="pagination-area pb-115 text-center">
	<div class="container">
	<div class="row">
	<div class="col-xl-12">
	<div class="single-wrap d-flex justify-content-center">
	<nav aria-label="Page navigation example">
	<ul class="pagination justify-content-start">
	<li class="page-item active"><a class="page-link" href="#">01</a></li>
	<li class="page-item"><a class="page-link" href="#">02</a></li>
	<li class="page-item"><a class="page-link" href="#">03</a></li>
	<li class="page-item"><a class="page-link" href="#"><span class="ti-angle-right"></span></a></li>
	</ul>
	</nav>
	</div>
	</div>
	</div>
	</div>
	</div>*@
	<!--Pagination End  -->

</main>